# EXPERIMENT 3 PYTHON DATA ANALYSIS (PANDAS)

### Problem 2

##### a. Display the first five rows with odd-numbered columns (columns 1, 3, 5, 7…) of cars.

In [55]:
import pandas as pd # Import the library pandas as pd to use its functions
cars = pd.read_csv("cars.csv") # read the excel file saved in the same folder with the code and store it in "cars"
First_Odd = cars.loc[[0,1,2,3,4],['Model', 'cyl','hp', 'wt', 'vs', 'gear']] #use the loc function to locate the index 0,1,2,3,4 and locate also the columes of cyl,hp,wt,vs, and gear. All these stores in First_Odd
print("Here are the first five models with their cyl, hp, wt, vs, and gear") # Print "Here are the first five models with their cyl, hp, wt, vs, and gear"
First_Odd # print the index and colums selected that was stores in First_Odd

Here are the first five models with their cyl, hp, wt, vs, and gear

               Model  cyl   hp     wt  vs  gear
0          Mazda RX4    6  110  2.620   0     4
1      Mazda RX4 Wag    6  110  2.875   0     4
2         Datsun 710    4   93  2.320   1     4
3     Hornet 4 Drive    6  110  3.215   1     3
4  Hornet Sportabout    8  175  3.440   0     3

##### b. Display the row that contains the ‘Model’ of ‘Mazda RX4’.

In [56]:
import pandas as pd  # Import the library pandas as pd to use its functions
df = pd.read_csv("cars.csv") # read the excel file saved in the same folder with the code and store it in "df"
Mazda_RX4 = df.loc[df['Model']=='Mazda RX4'] # use loc function to locate in column "model" the word "Mazda RX4" and print all the colums for it. All these stores in "Mazda_RX4"
print("Here are the information regarding Mazda RX4:") # Print "Here are the information regarding Mazda RX4:"
Mazda_RX4 # print the model named Mazda RX$ and all the columns in that index that was stored in Mazda_RX4

Here are the information regarding Mazda RX4:

       Model   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
0  Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

##### c. How many cylinders (‘cyl’) does the car model ‘Camaro Z28’ have?

In [57]:
import pandas as pd # Import the library pandas as pd to use its functions
c = pd.read_csv("cars.csv") # read the excel file saved in the same folder with the code and store it in "c"
C = c.loc[c['Model']=='Camaro Z28',['Model','cyl']] # use locate function for the model named "Camaro Z28" and locate also the value in the same index whiole in the column cyl. All these stored in C
print("This is the number of cylinders Camaro Z28 have:") # print "This is the number of cylinders Camaro Z28 have:"
C # print the model named Camaro Z28 and the cyl value

This is the number of cylinders Camaro Z28 have:

         Model  cyl
23  Camaro Z28    8

##### d. Determine how many cylinders (‘cyl’) and what gear type (‘gear’) do the car models ‘Mazda RX4 Wag’, ‘Ford Pantera L’ and ‘Honda Civic’ have.

In [58]:
import pandas as pd # Import the library pandas as pd to use its functions
d = pd.read_csv("cars.csv") # read the excel file saved in the same folder with the code and store it in "d"
D = d.loc[ # Use the loc function
        (d['Model']=='Mazda RX4 Wag') | #locate the model named "Mazda RX4 Wag", inside column "Model" and use a condition or using "|" for the next car
        (d['Model']=='Ford Pantera L') | #locate the model named "Ford Pantera L", inside column "Model" and use a conditio or using "|" for the next car
        (d['Model']=='Honda Civic'), ['Model','cyl','gear']] #locate the model named "Ford Pantera L", inside column "Model". With all the cars, print also the value stored in the same index of the model and in the columes of cyl and gear all these stored in D
print("Here are the informations of Mazda RX4 Wag, Ford Pantera L, and Honda Civic") #print "Here are the informations of Mazda RX4 Wag, Ford Pantera L, and Honda Civic"
D # Print the car models: Mazara RX4 Wag, Honda Civic, and Ford Pantera L, with their corresponding cyl and gear which was stored in D

Here are the informations of Mazda RX4 Wag, Ford Pantera L, and Honda Civic

             Model  cyl  gear
1    Mazda RX4 Wag    6     4
18     Honda Civic    4     4
28  Ford Pantera L    8     5